<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    div {
      border-style: rounded;
      border-color: coral;
      border-width: 7px;
    }
  </style>

  <body style="background-color: #010931">
    <div class="container-fluid">
      <h4 style="color: white">ERP Management</h4>
      <br />
      <br />
      <br />
      <br />
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div
          class="col-md-4"
          style="
            background-color: #011059;
            padding-bottom: 15px;
            padding-top: 15px;
          "
        >
          <h4 style="color: white"><b>Register</b></h4>

          <form action="createStudent" method="POST">
            {% csrf_token %}
            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <label style="color: white"> Name</label>
                  <input
                    type="text"
                    name="name"
                    placeholder="Full Name"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <br />
              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: white"
                    >Roll No <br />{eg:19CO011 (change last two digits in this
                    number) }</label
                  >
                  <input
                    type="text"
                    name="roll"
                    placeholder="Enter Roll No"
                    class="form-control"
                    required
                  />
                  <p style="color: red">{{error1}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: white" for="sel1">year</label>
                  <select class="form-control" id="sel1" name="year">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <br />
              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: white">Mail Id</label>
                  <input
                    type="mail"
                    name="mail"
                    placeholder="Enter Mail Id"
                    class="form-control"
                    required
                  />
                  <p style="color: red">{{error4}}</p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: white">Contact Number</label>
                  <input
                    type="tel"
                    name="contact"
                    placeholder="Enter 10 digit Number"
                    class="form-control"
                    required
                  />
                  <p style="color: red">{{error2}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <br />
              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: white">Create Password</label>
                  <input
                    type="password"
                    name="password1"
                    placeholder="Password"
                    class="form-control"
                    required
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label style="color: white">Confirm Password</label>
                  <input
                    type="password"
                    name="password2"
                    placeholder="please confirm Password"
                    class="form-control"
                    required
                  />
                  <p style="color: red">{{error3}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card-footer">
                Already have an acoount? <a href="login" class="">Login</a>
              </div>
            </div>

            <div class="col-md-12">
              <br /><br /><button
                type="submit"
                class="btn btn-default"
                style="padding-left: 25px; padding-right: 25px"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 
</body>

</html> -->
  </body>
</html>
