{% extends "base.html" %} {% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div class=" h-auto  p-3" style="background-color: #eee;">
                <ul>
                    <li>hello</li>
                    <li>hello</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="w-100 p-3" style="background-color: #eee;">
                <p>Shree Chatane</p>
                <p>19CO011</p>
            </div>
        </div>
        <div class="col-md-3">
            hrllo
        </div>
    </div>
</div>
{% endblock content %}